<table class="table table-responsive table-hover table-condensed table-bordered caption-top">
    {% if caption %}
        <caption>{{ caption }}</caption>
    {% endif %}
    <thead>
        <tr class="table-secondary">
            <th>Paslaugų paketas</th>
            <th>Paslaugos</th>
            <th>Sąskaitos</th>
            <th>{{ "created_at"|trans }}</th>
            <th
                    data-bs-toggle="tooltip"
                    data-bs-title="Imtinai"
            >{{ "active_from"|trans }}</th>
            <th
                    data-bs-toggle="tooltip"
                    data-bs-title="Imtinai"
            >{{ "active_to"|trans }}</th>
        </tr>
    </thead>
    <tbody class="">
        {% for userObjectBundle in userObjectBundles %}
            <tr data-href="/admin?crudAction=detail&crudControllerFqcn=App\Controller\Admin\UsersObjectsServicesBundlesCrudController&entityId={{ userObjectBundle.id }}">
                <td>#{{ userObjectBundle.id }}</td>
                <td>{{ userObjectBundle.getUsersObjectsServices().count() }}</td>
                <td>{{ userObjectBundle.getInvoices().count() }}</td>
                <td>{{ userObjectBundle.created_at|date('Y-m-d H:i:s') }}</td>
                <td>{{ userObjectBundle.active_from|date('Y-m-d') }}</td>
                <td class="{% if userObjectBundle.isBundleActive() %}text-success{% else %}text-danger{% endif %}">{{ userObjectBundle.active_t ? userObjectBundle.active_to|date('Y-m-d') : null }}</td>
            </tr>
        {% else %}
            <tr class="text-center">
                <td colspan="20">Objektas neturi paslaugų paketų</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
