<table class="table table-responsive table-hover table-condensed table-bordered">
    <thead>
        <tr class="table-secondary">
            <th>ID</th>
            <th>Paslaugų paketas</th>
            <th>{{ "created_at"|trans }}</th>
            <th
                    data-bs-toggle="tooltip"
                    data-bs-title="Imtinai"
            >{{ "active_from"|trans }}</th>
            <th
                    data-bs-toggle="tooltip"
                    data-bs-title="Imtinai"
            >{{ "active_to"|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>
                    <a class="list-group-item" href="/admin?crudAction=detail&crudControllerFqcn=App\Controller\Admin\UsersObjectsServicesCrudController&entityId={{ service.id }}">
                        {{ service.services }}
                    </a>
                </td>
                <td>{{ service.created_at|date('Y-m-d H:i:s') }}</td>
                <td
                        data-bs-toggle="tooltip"
                        data-bs-title="Imtinai"
                >{{ service.active_from|date('Y-m-d') }}</td>

                {% set isUsersObjectsServicesActive = service.isUsersObjectsServicesActive() %}
                <td class="{{ isUsersObjectsServicesActive ? 'text-success' : 'text-danger' }}"
                    data-bs-toggle="tooltip"
                    data-bs-title="Imtinai"
                >
                    {{ service.active_to|date('Y-m-d') }}
                    {% if isUsersObjectsServicesActive == false %}
                        <span class="badge text-bg-danger">NEBEAKTYVI</span>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="text-center">
                <td colspan="20">Nėra priskirtų paslaugų</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
