{#Failas užkraunamas iš TVS#}

<table class="table table-responsive table-hover table-condensed table-bordered">
    <thead>
        <tr class="table-secondary">
            <th>ID</th>
            <th class="w-50">Paslauga</th>
            <th>{{ "unit_price"|trans }}</th>
            <th>{{ "unit_adjustments"|trans }}</th>
            <th>{{ "unit_total"|trans }}</th>
            <th>Kiekis</th>
            <th>Suma be PVM</th>
            <th>Suma su PVM</th>
            <th>Priskirta</th>
            <th>Aktyvi nuo</th>
            <th>Aktyvi iki</th>
        </tr>
    </thead>
    <tbody>
        {% if field.value.isEmpty() %}
            <tr class="text-center">
                <td colspan="20">Nėra priskirtų paslaugų</td>
            </tr>
        {% else %}
            {% set sumUnitPrice = 0 %}
            {% set sumUnitPvm = 0 %}
            {% set sumUnitPriceTotal = 0 %}
            {% set sumTotalPriceBePvm = 0 %}
            {% set sumTotalPriceSuPvm = 0 %}
            {% for users_objects_services in field.value %}
                <tr>
                    <td>{{ users_objects_services.services.id }}</td>
                    <td>
                        <a class="list-group-item" href="/admin?crudAction=detail&crudControllerFqcn=App\Controller\Admin\UsersObjectsServicesCrudController&entityId={{ users_objects_services.id }}">
                            {{ users_objects_services.services.title }}
                        </a>
                    </td>
                    <td>{{ (users_objects_services.unit_price/100)|format_currency('EUR') }}</td>
                    <td>{{ (users_objects_services.unit_adjustments/100)|format_currency('EUR') }}</td>
                    <td>{{ ((users_objects_services.unit_total)/100)|format_currency('EUR') }}</td>
                    <td>{{ users_objects_services.amount }}</td>
                    <td>{{ (users_objects_services.unit_price * users_objects_services.amount/100)|format_currency('EUR') }}</td>
                    <td>{{ (users_objects_services.total_price/100)|format_currency('EUR') }}</td>
                    <td class="text-nowrap">{{ users_objects_services.created_at|date('Y-m-d H:i') }}</td>
                    <td class="text-nowrap">{{ users_objects_services.active_from|date('Y-m-d') }}</td>
                    <td class="text-nowrap">
                        {{ users_objects_services.active_to|date('Y-m-d') }}
                        {% if users_objects_services.isFullPeriod(field.formattedValue.invoice) == false %}
                            <span class="badge text-bg-danger">NE VISAS MĖN.</span>
                        {% endif %}
                    </td>
                </tr>
                {% set sumUnitPrice = sumUnitPrice + users_objects_services.unit_price %}
                {% set sumUnitPvm = sumUnitPvm + users_objects_services.unit_adjustments %}
                {% set sumUnitPriceTotal = sumUnitPriceTotal + users_objects_services.unit_total %}
                {% set sumTotalPriceBePvm = sumTotalPriceBePvm + users_objects_services.unit_price * users_objects_services.amount %}
                {% set sumTotalPriceSuPvm = sumTotalPriceSuPvm + users_objects_services.total_price %}
            {% else %}
                <tr class="text-center">
                    <td colspan="20">Nėra priskirtų paslaugų</td>
                </tr>
            {% endfor %}
            <tr class="table-light">
                <th colspan="2"></th>
                <th>{{ (sumUnitPrice/100)|format_currency('EUR') }}</th>
                <th>{{ (sumUnitPvm/100)|format_currency('EUR') }}</th>
                <th>{{ (sumUnitPriceTotal/100)|format_currency('EUR') }}</th>
                <th></th>
                <th>{{ (sumTotalPriceBePvm/100)|format_currency('EUR') }}</th>
                <th>{{ (sumTotalPriceSuPvm/100)|format_currency('EUR') }}</th>
                <th colspan="3"></th>
            </tr>
        {% endif %}
    </tbody>
</table>
