{% extends 'base.twig' %}

{% block title %}Mano sąskaita #{{ invoice.id }}{% endblock %}

{% block body %}
    <h2 class="mt-4">Sąskaita <span class="text-muted">{{ invoice.getFormattedSeries() }}</span></h2>
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th>Išrašyta</th>
                <td>{{ invoice.created_at|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>{{ "total"|trans }}</th>
                <td>{{ (invoice.getInvoiceTotal()/100)|format_currency('EUR') }}</td>
            </tr>
            <tr>
                <th>{{ "due_date"|trans }}</th>
                <td>
                    {{ invoice.due_date|date('Y-m-d') }}
                    {% if invoice.isDuePassed() %}
                        <span class="badge text-bg-danger">VĖLUOJAMA</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>SF Numeris</th>
                <td>
                    {{ invoice.getFormattedSeries() }}
                </td>
            </tr>
            <tr>
                <th>{{ "is_paid"|trans }}</th>
                <td>
                    {% if invoice.is_paid %}
                        <span class="badge text-bg-success">{{ "yes"|trans }}</span>
                    {% else %}
                        <span class="badge text-bg-danger">{{ "no"|trans }}</span>
                        {% if invoice.isDuePassed() %}
                            <span class="badge text-bg-danger">VĖLUOJAMA</span>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </thead>
    </table>

    <h2 class="mt-4">Paslaugos</h2>
    <table class="table table-condensed table-bordered table-hover">
        <thead>
            <tr class="table-secondary">
                <th class="w-50">Paslauga</th>
                <th>Vnt. kaina be PVM</th>
                <th>PVM</th>
                <th>Vnt. kaina su PVM</th>
                <th>Kiekis</th>
                <th>Suma be PVM</th>
                <th>Suma su PVM</th>
            </tr>
        </thead>
        <tbody>
            {% if invoice.users_objects_services_bundles.users_objects_services.isEmpty() %}
                <tr>
                    <td colspan="10">Nėra paslaugų</td>
                </tr>
            {% else %}
                {% set sumUnitPrice = 0 %}
                {% set sumUnitPvm = 0 %}
                {% set sumUnitPriceTotal = 0 %}
                {% set sumTotalPriceBePvm = 0 %}
                {% set sumTotalPriceSuPvm = 0 %}
                {% for users_objects_services in invoice.users_objects_services_bundles.users_objects_services %}
                    <tr>
                        <td>{{ users_objects_services.services.title }}</td>
                        <td>{{ (users_objects_services.unit_price/100)|format_currency('EUR') }}</td>
                        <td>{{ (users_objects_services.unit_adjustments/100)|format_currency('EUR') }}</td>
                        <td>{{ ((users_objects_services.unit_total)/100)|format_currency('EUR') }}</td>
                        <td>{{ users_objects_services.amount }}</td>
                        <td>{{ (users_objects_services.unit_price * users_objects_services.amount/100)|format_currency('EUR') }}</td>
                        <td>{{ (users_objects_services.total_price/100)|format_currency('EUR') }}</td>
                    </tr>
                    {% set sumUnitPrice = sumUnitPrice + users_objects_services.unit_price %}
                    {% set sumUnitPvm = sumUnitPvm + users_objects_services.unit_adjustments %}
                    {% set sumUnitPriceTotal = sumUnitPriceTotal + users_objects_services.unit_total %}
                    {% set sumTotalPriceBePvm = sumTotalPriceBePvm + users_objects_services.unit_price * users_objects_services.amount %}
                    {% set sumTotalPriceSuPvm = sumTotalPriceSuPvm + users_objects_services.total_price %}
                {% endfor %}
                    <tr class="table-light">
                        <th></th>
                        <th>{{ (sumUnitPrice/100)|format_currency('EUR') }}</th>
                        <th>{{ (sumUnitPvm/100)|format_currency('EUR') }}</th>
                        <th>{{ (sumUnitPriceTotal/100)|format_currency('EUR') }}</th>
                        <th></th>
                        <th>{{ (sumTotalPriceBePvm/100)|format_currency('EUR') }}</th>
                        <th>{{ (sumTotalPriceSuPvm/100)|format_currency('EUR') }}</th>
                    </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
