{% extends 'base.twig' %}

{% block title %}Mano sąskaita #{{ invoice.id }}{% endblock %}

{% block body %}
    <div class="mt-4">
        <h2 class="">Sąskaita <span class="text-muted">{{ invoice.getFormattedSeries() }}</span></h2>
    </div>
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th>Periodas</th>
                <td>{{ invoice.getPeriod() }}</td>
            </tr>
            <tr>
                <th>Išrašyta</th>
                <td>{{ invoice.created_at|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>{{ "total"|trans }}</th>
                <td>{{ (invoice.getInvoiceTotal()/100)|format_currency('EUR') }}</td>
            </tr>
            <tr>
                <th>{{ "due_date"|trans }}</th>
                <td>
                    {{ invoice.due_date|date('Y-m-d') }}
                    {% if invoice.isDuePassed() %}
                        <span class="badge text-bg-danger">VĖLUOJAMA</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>SF Numeris</th>
                <td>
                    {{ invoice.getFormattedSeries() }}
                </td>
            </tr>
            <tr>
                <th>{{ "is_paid"|trans }}</th>
                <td>
                    {% if invoice.is_paid %}
                        <span class="text-success">{{ invoice.is_paid|date('Y-m-d H:i') }}</span>
                        {% if invoice.isPayedPassedDue() %}
                            <span class="badge text-bg-warning">Pavėluotai</span>
                        {% endif %}
                    {% else %}
                        <span class="badge text-bg-danger">{{ "no"|trans }}</span>
                        <a href="/payments/pay/{{ invoice.id }}" class="text-primary">Apmokėti</a>
                    {% endif %}
                </td>
            </tr>
            {% if invoice.is_paid %}
                <tr>
                    <th>Apmokėjimo būdas</th>
                    <td>{{ invoice.payments.last().payment_method }}</td>
                </tr>
            {% endif %}
        </thead>
    </table>

    <h2 class="mt-4">Paslaugos</h2>
    <table class="table table-condensed table-bordered table-hover">
        <thead>
            <tr class="table-secondary">
                <th class="w-50">Paslauga</th>
                <th>{{ "unit_price_vat"|trans }}</th>
                <th>{{ "unit_price"|trans }}</th>
                <th>{{ "amount"|trans }}</th>
                <th>{{ "total_price_vat"|trans }}</th>
                <th>{{ "total_price"|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% set usersObjectsServices = invoice.getInvoiceServices() %}
            {% if usersObjectsServices %}
                {% set unit_price_vat = 0 %}
                {% set unit_price = 0 %}
                {% set total_price_vat = 0 %}
                {% set total_price = 0 %}
                {% for users_objects_services in usersObjectsServices %}
                    <tr>
                        <td>{{ users_objects_services.services.title }}{% if users_objects_services.isFullPeriod(invoice) == false %}<br/><i class="text-muted">ne visas mėnuo</i>{% endif %}</td>
                        <td>{{ (users_objects_services.getAdjustedUnitPriceVat(invoice)/100)|format_currency('EUR') }}</td>
                        <td>{{ (users_objects_services.getAdjustedUnitPrice(invoice)/100)|format_currency('EUR') }}</td>
                        <td>{{ users_objects_services.amount }}</td>
                        <td>{{ (users_objects_services.getAdjustedTotalPriceVat(invoice)/100)|format_currency('EUR') }}</td>
                        <td>{{ (users_objects_services.getAdjustedTotalPrice(invoice)/100)|format_currency('EUR') }}</td>
                    </tr>
                    {% set unit_price_vat = unit_price_vat + users_objects_services.getAdjustedUnitPriceVat(invoice) %}
                    {% set unit_price = unit_price + users_objects_services.getAdjustedUnitPrice(invoice) %}
                    {% set total_price_vat = total_price_vat + users_objects_services.getAdjustedTotalPriceVat(invoice) %}
                    {% set total_price = total_price + users_objects_services.getAdjustedTotalPrice(invoice) %}
                {% endfor %}
                    <tr class="table-light">
                        <th></th>
                        <th>{{ (unit_price_vat/100)|format_currency('EUR') }}</th>
                        <th>{{ (unit_price/100)|format_currency('EUR') }}</th>
                        <th></th>
                        <th>{{ (total_price_vat/100)|format_currency('EUR') }}</th>
                        <th class="table-primary">{{ (total_price/100)|format_currency('EUR') }}</th>
                    </tr>
            {% else %}
                <tr>
                    <td colspan="20">Nėra paslaugų</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
